@import "overrides";
// @import "bootstrap/scss/bootstrap";

// INDEX.HTML
.navbar-toggler-icon {
  filter: invert(100%);
}

#avatar-btn {
  &:hover,
  &:active {
    background-color: $custom-transparent;
  }
  &::after {
    vertical-align: 0;
  }
}

#carousel img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  #carousel img {
    height: 20vw;
  }
}

@media screen and (max-width: 767px) {
  #carousel img {
    height: 28vw;
  }
}

@media screen and (max-width: 575px) {
  #carousel img {
    height: 50vw;
  }
}

@media (max-width: 991px) {
}

// PROFILE.HTML
.pencil-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

#profile-form {
  button:not(.dropdown-toggle) {
    letter-spacing: 3px;
  }
}

@media (max-width: 991px) {
  #column-second-element {
    flex-direction: column;
    div.col-3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      span {
        text-align: center;
      }
      button {
        margin-bottom: 10px;
      }
    }
    #column-payment-element {
      div {
        flex-direction: column;
        align-items: flex-start;
      }
      a {
        align-self: flex-end;
      }
    }
  }
  #column-third-element {
    flex-direction: column;
    div.col-3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      div {
        text-align: center;
      }
    }
  }

  #column-fourth-element {
    flex-direction: column;
    div.col-3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      div {
        text-align: center;
      }
    }
    div.col {
      div {
        align-items: flex-end;
      }
    }
  }

  #column-fifth-element {
    flex-direction: column;
    div.col-3 {
      display: flex;
      flex-direction: column;
      width: 100%;
      div {
        text-align: center;
      }
    }
    div.row {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      div.col-5 {
        width: unset;
      }
      div.col {
        width: unset;
      }
    }
    #last-item {
      display: flex;
      justify-content: flex-end;
    }
  }
}
